.icon.is-small {
  vertical-align: baseline!important;
}

p.control.help {
  margin-top: -8px;
}

p.help {
  margin-bottom: 12px;
}

span.button {
  cursor: default;
}

[v-cloak] { display:none; }

.fa-pulse {
  display: inline-block;
  -moz-animation: pulse 3s infinite linear;
  -o-animation: pulse 3s infinite linear;
  -webkit-animation: pulse 3s infinite linear;
  animation: pulse 3s infinite linear;
}

@-webkit-keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}
@-moz-keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}
@-o-keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}
@-ms-keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}
@keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}

.is-middle {
  vertical-align: middle!important;
}

.content pre:not(:last-child) {
    margin-bottom: 1em;
}

code {
  color: inherit;
}
